<div class="modal-header">
    <h4 class="modal-title">Speciality</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="specialityForm" (ngSubmit)="onSubmit()">

        <!-- <ng-container *ngIf="specialityForm?.controls">

        <div *ngFor="let formControl of (specialityForm?.controls | keys)">

                <label >Type</label>
                <input
                  type="text"
                  [formControlName]="formControl"
                  class="form-control">


        </div>
    </ng-container> -->
        <div class="form-group" *ngIf="specialityForm?.controls?.type">
            <label for="type">Type</label>
            <input
              type="text"
              id="type"
              formControlName="type"
              class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!specialityForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>