<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="row">
          <img src="../../assets/img/hospitalMSLogo.jpg" style="width: 40px;height: 40px ;">
      </div> 
      <a class="navbar-brand"><span style="color:aquamarine" *ngIf="authService.isAuthenticated()" >{{userInfo.firstName}}</span></a>
      <select *ngFor="let role of userRoles">
        <option>{{role.type}}</option>
      </select>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" class="nav-link" routerLink="/dashboard" *ngIf="authService.isAuthenticated()">Dashboard</a></li>  
        </ul>
          <ul class="navbar-nav ml-auto">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-sm btn-outline-success" *ngIf="!authService.isAuthenticated()"><a class="nav-link button box" routerLink="/signin" >Sign In</a></button>
              <button type="button" class="btn btn-sm btn-outline-danger" *ngIf="authService.isAuthenticated()"><a class="nav-link button box" (click)="onSignOut()">Sign Out</a></button>
            </div>
          </ul> 
      </div> 
</nav>
