<table class="table table-striped table-bordered">
  <thead class="thead-dark">
      <th scope="col">Patient Name</th>
      <th scope="col">Contact No.</th>
      <th scope="col">Email</th>  
      <th scope="col">Hospital Name</th>
      <th scope="col">Patient Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
  </thead>
  <tbody>
      <tr *ngFor="let patient of patients" scope="row">
          <td scope="col">{{patient.user.firstName}} {{patient.user.lastName}}<i class="fas fa-user-md" (click)="onAssignDoctor(patient)"></i><i class="far fa-hospital" (click)="onAssignRoom(patient)"></i></td>
          <td scope="col">{{patient.user.contact}}</td>
          <td scope="col">{{patient.user.email}}</td>
          <td scope="col">{{patient.hospital.name}}</td>
          <td scope="col">{{patient.patientStatus.name==null?Attended:patient.patientStatus.name}}</td>
          <td scope="col">
              <button class="btn btn-primary" (click)="onEditPatient(patient)">Edit</button>
          <td scope="col">
              <button class="btn btn-secondary" (click)="onDeletePatient(patient)">Delete</button>
          </td>
      </tr>
      
  </tbody>
</table>
