<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <th scope="col">Type</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let occupancy of occupancies" scope="row">
            <td scope="col">{{occupancy.type}}</td>
            <td scope="col">
                <button class="btn btn-primary" (click)="onEditOccupancy(occupancy)">Edit</button>
            </td>
            <td scope="col">
                <button class="btn btn-secondary" (click)="onDeleteOccupancy(occupancy)">Delete</button>
            </td>
        </tr>
        
    </tbody>
</table>
