<div class="modal-header">
    <h4 class="modal-title">Hospital</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
    <!-- <ng-container *ngIf="specialityForm?.controls">

            <div *ngFor="let formControl of (specialityForm?.controls | keys)">
    
                    <label >{{formControl}}</label>
                    <input
                        type="text"
                        [formControlName]="formControl"
                        class="form-control">
            </div>
        </ng-container> -->
        <div class="form-group" *ngIf="hospitalForm?.controls?.name">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
        </div>
        <div class="form-group" *ngIf="hospitalForm?.controls?.speciality">
            <label for="speciality">Speciality</label>
            <select
              id="speciality"
              formControlName="speciality"
              class="form-control"
              >
                <option *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.type}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="hospitalForm?.controls?.address">
            <label for="address">Address</label>
            <textarea
              type="text"
              id="address"
              formControlName="address"
              class="form-control"></textarea>
        </div>
        <div class="form-group" *ngIf="hospitalForm?.controls?.contact">
            <label for="contact">Contact</label>
            <input
              type="text"
              id="contact"
              formControlName="contact"
              class="form-control">
        </div>
        <div class="form-group" *ngIf="hospitalForm?.controls?.active">
            <label class="btn-secondary" ngbButtonLabel>
                <input type="checkbox" formControlName="active" ngbButton> Active
            </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!hospitalForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>