<div class="modal-header">
  <h4 class="modal-title">Doctor</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
            <label for="hospital">Hospital</label>
            <select
              id="hospital"
              formControlName="hospital"
              class="form-control">
              <option></option>
              <option  *ngFor="let hospital of hospitals" id="{{hospital.id}}" [ngValue]="hospital">{{hospital.name}}</option>
            </select>
            <span class="help-block" *ngIf="!doctorForm.get('hospital').valid && doctorForm.get('hospital').touched">Please select a hospital.</span>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <select
          id="department"
          formControlName="department"
          class="form-control">
          <option></option>
          <option id="1" value="Cardiology">Cardiology</option>
          <option id="2" value="Critical care">Critical care</option>
          <option id="3" value="Gastroenterology">Gastroenterology</option>
          <option id="4" value="Haematology">Haematology</option>
          <option id="5" value="Nephrology">Nephrology</option>
          <option id="6" value="Nutrition and dietetics">Nutrition and dietetics</option>
          <option id="7" value="Oncology">Oncology</option>
          <option id="8" value="Ophthalmology">Ophthalmology</option>
        </select>
        <span class="help-block" *ngIf="!doctorForm.get('hospital').valid && doctorForm.get('hospital').touched">Please select a hospital.</span>
      </div>
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control">
            <span class="help-block" *ngIf="!doctorForm.get('firstName').valid && doctorForm.get('firstName').touched">Please enter a first name.</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control">
          <span class="help-block" *ngIf="!doctorForm.get('email').valid && doctorForm.get('email').touched">Please enter your email address.</span>
      </div>
      <div class="form-group">
        <div class="input-group">
            <label for="dob">DOB</label>
          <input class="form-control" placeholder="yyyy-mm-dd"
                name="dob" ngbDatepicker #d="ngbDatepicker" formControlName="dob">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
        <span class="help-block" *ngIf="!doctorForm.get('dob').valid && doctorForm.get('dob').touched">Please enter your date of birth.</span>
      </div>
      <div class="form-group">
          <label for="contact">Contact</label>
          <input
            type="text"
            id="contact"
            formControlName="contact"
            class="form-control">
            <span class="help-block" *ngIf="!doctorForm.get('contact').valid && doctorForm.get('contact').touched">Please enter your contact number.</span>
      </div>
       <span class="help-block" *ngIf="!doctorForm.valid">Please enter valid data.</span>
       <button class="btn btn-primary" type="submit" [disabled]="!doctorForm.valid">Add</button>
      </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
