<table class="table table-striped table-bordered">
  <thead class="thead-dark">
      <th scope="col" >Room</th>
      <th scope="col">Hospital Name</th>
      <th scope="col">Occupancy Type</th>
      <th scope="col">Vacant Status</th>
      <th scope="col">Total Beds</th>
      <th scope="col">Remaining Beds</th>
      <th scope="col">Charge(Rs./day)</th>
      <th scope="col"></th>
      <th scope="col"></th>
  </thead>
  <tbody>
        <tr *ngFor="let room of rooms" scope="row">
                <td scope="col"><a style="cursor: pointer;"  [routerLink]="['room-detail',room.id]">{{room.roomInfo}}</a></td>
                <td scope="col">{{room.hospital.name}}</td>
                <td scope="col">{{room.occupancy.type}}</td>
                <td scope="col">{{room.vacant}}</td>
                <td scope="col">{{room.totalBeds}}</td>
                <td scope="col">{{room.remainingBeds}}</td>
                <td scope="col">{{room.perDayCharge}}</td>
                <td scope="col">
                    <button class="btn btn-primary" (click)="onEditRoom(room)">Edit</button>
                <td scope="col">
                    <button class="btn btn-secondary" (click)="onDeleteRoom(room)">Delete</button>
                </td>
            </tr>
    </tbody>
</table>
