<div class="row justify-content-center">
  <div class="col-4">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username <i class="fas fa-user"></i></label>
        <input type="text" id="username" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password <i class="fas fa-unlock-alt"></i></label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <!-- <span class="help-block" *ngIf="!authService.loggedIn">Wrong credentials</span> -->
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
    </form>
  </div>
</div>

